@{
    ViewData["Title"] = "ShowCache";
    Product? p = ViewBag.productShow as Product;
}

<h1>Show Cache Sayfası</h1>

@* <p>
    @p.Id - @p.Name - @p.Price
</p> *@

<p>
    @ViewBag.ShowCache
</p>


<p>
    @ViewBag.HataMesaj
</p>


